/*INicio do CSS puro e duro lol xD assim manipula-se facilmente as coisas e faz-se uns efeitos..
Como bem pediu, apliquei-me ao maximo neste ultimo trabalho lol xD*/

body {
	background:url("bodybg.jpg");
}

fieldset {
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
	padding: 0;
	margin:0 auto;
	width:80%;
}
table{
	border-style: inset;
}
.container {
	background: transparent;
	height:100%;
	width:100%;
	padding: 0;
	margin: 0 auto; 
}

.rodape{
	background:red;
}

.logo{
text-shadow: 5px 5px 5px #000000;
}

footer {
	margin:0;
	height:10%;
	width:100%;
	background: #CCC49F;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
p{
	padding-left:5px;
	padding-right:3px;
}

a{
	font-family:"calabria";
}

