<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DbBeach.Properties.Settings.AlgarveBeachConnectionString"
            connectionString="Data Source=VAIO-TSANTOS\SQLEXPRESS;Initial Catalog=AlgarveBeach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DbBeach.Properties.Settings.AlgarveBeachConnectionString1"
            connectionString="Data Source=LAP-TSUNAMI\SQLEXPRESS;Initial Catalog=AlgarveBeach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>